@page
@model PhotographyBusiness.Pages.AdminPages.AdminDashboardPageModel
@{
}

<script src="https://kit.fontawesome.com/5d5c0091b5.js" crossorigin="anonymous"></script>


<div class="container d-flex flex-column pt-3">
    <h1 class="">Admin Dashboard</h1>
    <div class="" style="">
        <div class="text-center">
            <table class="w-100 no-border table-bordered table-bordered ">
                <tr>
                    <th class="w-25 no-border">
                        <div class="d-grid">
                            <a asp-page="#"><i class="fa fa-envelope-o fa-5x text-dark pop-out" aria-hidden="true"></i></a>
                            <a asp-page="#" class="text-dark text-decoration-none">Requests</a>
                            <br />
                            <a class="text-dark text-decoration-none" style="text-align: left">Most recent</a>

                        </div>
                    </th >
                    <th class="w-25 no-border">
                        <div class="d-grid">
                            <a asp-page="#"><i class="fa fa-calendar-check-o fa-5x text-dark pop-out" aria-hidden="true"></i></a>
                            <a asp-page="#" class="text-dark text-decoration-none">Bookings</a>
                            <br />
                            <a class="text-dark text-decoration-none" style="text-align: left">Upcoming</a>
                        </div>
                    </th>
                    <th class="w-25 no-border">
                        <div class="d-grid">
                            <a asp-page="#"><i class="fa fa-users fa-5x text-dark pop-out" aria-hidden="true"></i></a>
                            <a asp-page="#" class="text-dark text-decoration-none">Users</a>
                            <br />
                            <a class="text-dark text-decoration-none" style="text-align: left">Recently joined</a>
                        </div>
                    </th>
                    <th class="w-25 no-border">
                        <div class="d-grid">
                            <a asp-page="#"><i class="fa fa-bar-chart fa-5x text-dark pop-out" aria-hidden="true"></i></img></a>
                            <a asp-page="#" class="text-dark text-decoration-none">Analytics</a>
                            <br />
                            <a class="text-dark text-decoration-none" style="text-align: left">Quick overview</a>
                        </div>
                    </th>
                </tr>
            </table>
            <div class="d-flex justify-content-around">
               
                <table class="w-25 left-border table table-bordered table-hover table-striped" style="border:1px solid black; word-wrap:break-word;">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                    </tr>
                    @foreach (var request in Model.Requests) {
                        <tr>
                            <td><a asp-page="#" asp-route-id="@request.BookingId" class="btn btn-dark btn-round">@request.BookingId</a></td>
                            <td><a asp-page="#" asp-route-id="@request.BookingId" class="text-dark text-decoration-none">@request.User.Name</a></td>
                            <td><a asp-page="#" asp-route-id="@request.BookingId" class="text-dark text-decoration-none">@request.Category</a></td>
                        </tr>
                    }
                    
                </table>
               
                <table class="w-25 right-border left-border table table-bordered table-hover table-striped" style="border:1px solid black; word-wrap: break-word;">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                    @foreach (var booking in Model.Bookings)
                    {
                        <tr>
                            <td><a asp-page="#" asp-route-id="@booking.BookingId" class="btn btn-dark btn-round">@booking.BookingId</a></td>
                            <td><a asp-page="#" asp-route-id="@booking.BookingId" class="text-dark text-decoration-none">@booking.User.Name</a></td>
                            <td><a asp-page="#" asp-route-id="@booking.BookingId" class="text-dark text-decoration-none">@booking.Date</a></td>
                        </tr>
                    }
                </table>
               
                <table class="w-25 right-border table table-bordered table-hover table-striped" style="border:1px solid black; word-wrap: break-word;">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    @foreach (var user in Model.Users)
                    {
                        <tr >
                            <td><a asp-page="#" asp-route-id="@user.UserId" class="btn btn-dark btn-round">@user.UserId</a></td>
                            <td><a asp-page="#" asp-route-id="@user.UserId" class="text-dark text-decoration-none">@user.Name</a></td>
                            <td><a asp-page="#" asp-route-id="@user.UserId" class="text-dark text-decoration-none">@user.Email</a></td>
                        </tr>
                    }
                </table>

            
                <div class="w-25 right-border top-border d-flex flex-column justify-content-evenly table table-bordered" style="border:1px solid black; word-wrap: break-word;">
                    <h5 class="m-2" style="text-align: left">Accepted bookings last 30 days:
                        <a class="text-dark">@Model.BookingsThisMonth</a>
                        <i class="fa fa-calendar-check-o" aria-hidden="true" style="height: 25px"></i>
                    </h5>
                    <h5 class="m-2" style="text-align: left">Pending bookings requests:
                        <a class="text-dark">@Model.PendingRequests</a>
                        <i class="fa fa-envelope-o" aria-hidden="true" style="height: 25px"></i>
                    </h5>
                    <h5 class="m-2" style="text-align: left">Total accepted bookings:
                        <a class="text-dark">@Model.TotalBookings</a>
                        <i class="fa fa-calendar-check-o" aria-hidden="true" style="height: 25px"></i>
                    </h5>
                    <h5 class="m-2" style="text-align: left">Bookings completed: 
                        <a class="text-dark">@Model.CompletedBookingsThisMonth</a>
                        <i class="fa fa-check-circle-o" aria-hidden="true" style="height: 25px"></i>
                    </h5>
                    <h5 class="m-2" style="text-align: left">Total users:
                        <a class="text-dark">@Model.TotalUsers</a>
                        <i class="fa fa-users" aria-hidden="true" style="height: 25px"></i>
                    </h5>
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>
    table {
        border-collapse: collapse;
    }

    .no-border {
        border: none;
    }

    th {
        border: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    table {
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }

    .right-border {
        border-right: solid 2px black;
    }

    .top-border {
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }

    .left-border {
        border-left: solid 2px black;
    }

    td {
        border: solid 1px black;
    }

    h5 {
        font-size: 1.1rem;
    }

    .btn-round {
        border-radius: 50px;
        transition: all .2s ease-in-out;
    }

    .btn-round:hover {
        background-color: whitesmoke;
        border: solid 1px whitesmoke;
        color: black;
    }

    .number-contrast {
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 100px;
    }
</style>