@page
@model PhotographyBusiness.Pages.AdminPages.UserAnalyticsPageModel
@{
}

<script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

<div class="bg-dark pt-3 pb-3">
    <h1 class="text-center text-white mb-1">User Analytics</h1>
    <div class="d-grid text-center mt-0">
        <a class="text-white text-decoration-none text-center mt-1">Quick overview</a>
    </div>
    <div class="d-grid">
        <div class="d-flex justify-content-center">
            <div class="d-flex w-25 justify-content-end">
                <h5 class="m-2 text-white">
                    Total users:
                    <a class="text-white">@Model.TotalUsers</a>
                    <i class="fa fa-users text-white" aria-hidden="true" style="height: 25px"></i>
                </h5>
            </div>
            <h5 class=" m-2 text-white">|</h5>
            <div class="d-flex w-25">
                <h5 class="m-2 text-white">
                    Registered this month:
                    <a class="text-white">@Model.UsersThisMonth</a>
                    <i class="fa fa-users text-white" aria-hidden="true" style="height: 25px"></i>
                </h5>
            </div>
            
        </div>
    </div>
    <div class="d-flex justify-content-center mt-1">
        <a asp-page="/AdminPages/AnalyticsPage" class="btn btn-square btn-light" style="width: 10em">Go back</a>
    </div>
    <hr style="height: 5px; margin: 1px;" />
</div>

<div class="py-2">
    <div class="container d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center ms-1 me-1">@Html.Raw(Model.ChartUsersLastYear)</div>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <div class="text-center me-1 mt-2">@Html.Raw(Model.ChartTotalUsers)</div>
            <div style="width: 1px; background-color: lightgrey;"></div>
            <div class="text-center mx-1 mt-2">@Html.Raw(Model.ChartsMonthlyUsers)</div>
        </div>
    </div>
</div>