@page
@model PhotographyBusiness.Pages.AccountPages.CreateUserPageModel
@{
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="transparent-black">
    <div class="d-flex justify-content-center" style="">
        <div class="d-flex flex-column m-4" style="min-width: 30vw">
            <form method="post" class="p-4" style="background-color: rgba(0,0,0,0.7)">
                <div class="form-group p-2">
                    <label asp-for="@Model.Email" class="control-lable text-white">Email</label>
                    <input asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.FullName" class="control-lable text-white">Full name</label>
                    <input asp-for="@Model.FullName" class="form-control" />
                    <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.PhoneNumber" class="control-lable text-white">Phone</label>
                    <input asp-for="@Model.PhoneNumber" class="form-control" />
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.Password" class="control-lable text-white"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.RepeatPassword" class="control-lable text-white">Repeat password</label>
                    <input asp-for="@Model.RepeatPassword" class="form-control" />
                    <span asp-validation-for="@Model.RepeatPassword" class="text-danger"></span>
                </div>
                <div class="form-group m-2 d-flex justify-content-between">
                    <a asp-page="../Index/" class="btn btn-dark btn-border-white" style="border-radius: 0; min-width: 6vw;">Go back</a>
                    <input type="submit" value="Create" class="btn btn-light" style="min-width: 6vw; border-radius: 0;" />
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    .bg-img {
        background-image: url(../../wwwroot/media/img3.jpg);
    }
</style>