@page
@model PhotographyBusiness.Pages.BookingPages.BookingRequestModalPageModel
@{
}


    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Booking request for: @Model.Booking.User.Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <!-- Booking information -->
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title">Booking Information</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="ms-1 justify-content-center">
                                                <p>
                                                    <label asp-for="@Model.Booking.Category" class="control-label text-black">Category</label>
                                                    <input asp-for="@Model.Booking.Category" class="form-control btn-border-black" readonly />
                                                </p>
                                            </div>
                                            <div class="ms-1 justify-content-center">
                                                <p>
                                                    <label asp-for="@Model.Booking.DateTimeOfEvent" class="control-label text-black">Date</label>
                                                    <input asp-for="@Model.Booking.DateTimeOfEvent" class="form-control btn-border-black" readonly />
                                                </p>
                                            </div>
                                            <div class="ms-1 justify-content-center">
                                                <p>
                                                    <label asp-for="@Model.Booking.Address" class="control-label text-black">Address</label>
                                                    <input asp-for="@Model.Booking.Address" class="form-control btn-border-black" readonly />
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-15">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header justify-content-center">
                                                <h5 class="modal-title">Customer Information</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="ms-1 justify-content-center">
                                                    <p>
                                                        <label asp-for="@Model.Booking.User.Name" class="control-label text-black">Customer Name</label>
                                                        <input asp-for="@Model.Booking.User.Name" class="form-control btn-border-black" readonly /></>
                                                    </p>
                                                </div>
                                                <div class="ms-1 justify-content-center">
                                                    <p>
                                                        <label asp-for="@Model.Booking.User.Email" class="control-label text-black">Customer Email</label>
                                                        <input asp-for="@Model.Booking.User.Email" class="form-control btn-border-black" readonly /></>
                                                    </p>
                                                </div>
                                                <div class="ms-1 justify-content-center">
                                                    <p>
                                                        <label asp-for="@Model.Booking.CustomerNote" class="control-label text-black">Customer Note</label>
                                                    <input asp-for="@Model.Booking.CustomerNote" name="Note" class="form-control btn-border-black" readonly />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
                <form method="post">
                    <div class="form-group p-2">
                        <div class="form-group text-center">
                            <a class="btn btn-dark" style="min-width: 6vw; border-radius: 0;" asp-page="/BookingPages/AcceptRequestPage" asp-route-id="@Model.Booking.BookingId">Go to request</a>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>






<div class="container d-flex flex-column">
    <div class="text-center">
        <br />
        <h1>Booking Requests</h1>
        <br />
        <div class="d-flex justify-content-around">
                    <table class="table table-bordered table-hover table-striped" width="60%" style="border:1px solid black; word-wrap: break-word;">
                 <thead>
                    <tr class="table-light">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.BookingRequests != null)
                    {
                        foreach (var booking in Model.BookingRequests)
                        {
                            <tr class="">
                                <td><a class="text-dark text-decoration-none" asp-page="BookingRequestModalPage" asp-route-id="@booking.BookingId">@booking.User.Name</a></td>
                                <td><a class="text-dark text-decoration-none" asp-page="BookingRequestModalPage" asp-route-id="@booking.BookingId">@booking.User.Email</a></td>
                                <td><a class="text-dark text-decoration-none" asp-page="BookingRequestModalPage" asp-route-id="@booking.BookingId">@booking.Category</a></td>
                                <td><a class="text-dark text-decoration-none" asp-page="BookingRequestModalPage" asp-route-id="@booking.BookingId">@booking.DateTimeOfEvent</a></td>
                                <td><a class="text-dark text-decoration-none" asp-page="BookingRequestModalPage" asp-route-id="@booking.BookingId">@booking.Address</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div>
            <a class="btn btn-dark" style="min-width: 6vw; border-radius: 0;" asp-page="/AdminPages/AdminDashboardPage" >Back to dashboard</a>
        </div>
    </div>
</div>

<style>
    table {
        border-collapse: collapse;
    }



    .no-border {
        border: none;
    }

    th {
        border: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    table {
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }

    .right-border {
        border-right: solid 2px black;
    }

    .top-border {
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }

    .left-border {
        border-left: solid 2px black;
    }

    td {
        border: solid 1px black;
    }

    h5 {
        font-size: 1.1rem;
    }

    .btn-round {
        border-radius: 50px;
        transition: all .2s ease-in-out;
    }

        .btn-round:hover {
            background-color: whitesmoke;
            border: solid 1px whitesmoke;
            color: black;
        }

    .number-contrast {
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 100px;
    }
</style>





@section Scripts 
{
    
    <script>
        $(document).ready(function ()
        {
            //$("#myModal").modal({backdrop: "static"});
            $("#myModal").modal('show');
        });
    </script>

}