@page
@model PhotographyBusiness.Pages.BookingPages.CreateBookingRequestPageModel
@{
}



<link rel="stylesheet" href="/css/styles.css"/>

<div class="transparent-black">
    <div class="d-flex justify-content-center" style="">
        <div class="d-flex flex-column m-4" style="min-width: 30vw">
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
            }

            <form method="post" class="p-4" style="background-color: rgba(0,0,0,0.7)">
                <div class="form-group p-2">
                    <label asp-for="@Model.User.Email" class="control-label text-white">Email</label>
                    <input asp-for="@Model.User.Email" class="form-control" readonly />
                    <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.User.Name" class="control-label text-white">Name</label>
                    <input asp-for="@Model.User.Name" class="form-control" readonly />
                    <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.Address" class="control-label text-white">Address</label>
                    <input asp-for="@Model.Address" class="form-control" />
                    @*<textarea asp-for="@Model.Address" class="form-control" rows="2" style="font-size: 15px; vertical-align: top; max-height: 115px"></textarea>*@
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>
                <div class="form-group p-2 d-flex">
                    <div class="me-1">
                        <label asp-for="@Model.Date" class="control-label text-white">Date</label>
                        <input asp-for="@Model.Date" class="form-control" value="@DateTime.Now"/>
                        <span asp-validation-for="@Model.Date" class="text-danger"></span>
                    </div>
                    <div class="ms-1" style="min-width: 200px">
                        <label for="Category" asp-for="@Model.Category" class="control-lable text-white"></label>
                        <select name="Category" id="Category" class="form-select" asp-for="@Model.Category">
                            <option value="" disabled selected>Select a category</option>
                            <option value="Party">Party</option>
                            <option value="Wedding">Wedding</option>
                            <option value="Portrait">Portrait</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Food">Food</option>
                            <option value="Event">Event</option>
                        </select>
                        <span asp-validation-for="@Model.Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.CustomerNote" class="control-label text-white">Note</label>
                    <textarea asp-for="@Model.CustomerNote" rows="6" cols="50" class="form-control textarea-input" style="resize:none"></textarea>
                    <span asp-validation-for="@Model.CustomerNote" class="text-danger"></span>
                    @*<input asp-for="@Model.Booking.CustomerNote" class="control-label" />*@
                </div>
                <div class="form-group m-2 d-flex justify-content-between">
                    <a asp-page="../Index/" class="btn btn-dark btn-border-white" style="border-radius: 0; min-width: 6vw;">Go back</a>
                    <input type="submit" value="Create" class="btn btn-light" style="min-width: 6vw; border-radius: 0;" />
                </div>
            </form>
        </div>
    </div>
</div>