@page
@model PhotographyBusiness.Pages.BookingPages.CreateBookingRequestPageModel
@{
}

<link rel="stylesheet" href="/css/styles.css"/>

<div class="transparent-black">
    <div class="d-flex justify-content-center" style="">
        <div class="d-flex flex-column m-4" style="min-width: 30vw">
            <form method="post" class="p-4" style="background-color: rgba(0,0,0,0.7)">
                <div class="form-group p-2">
                    <label asp-for="@Model.User.Email" class="control-label text-white">Email</label>
                    <input asp-for="@Model.User.Email" class="form-control" />
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.User.Name" class="control-label text-white">Name</label>
                    <input asp-for="@Model.User.Name" class="form-control" />
                </div>
                <div class="form-group p-2 d-flex">
                    <div class="me-1">
                        <label asp-for="@Model.City" class="control-label text-white">City</label>
                        <input asp-for="@Model.City" class="form-control" />
                    </div>
                    <div class="ms-1">
                        <label asp-for="@Model.ZipCode" class="control-label text-white">Zip code</label>
                        <input asp-for="@Model.ZipCode" class="form-control" />
                    </div>
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.Street" class="control-label text-white">Street</label>
                    <input asp-for="@Model.Street" class="form-control" />
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.Category" class="control-label text-white">Category</label>
                    <input asp-for="@Model.Category" class="form-control" />
                </div>
                <div class="form-group p-2">
                    <label asp-for="@Model.Booking.CustomerNote" class="control-label text-white">Note</label>
                    <textarea id="CustomerNote" name="Note" rows="6" cols="50" class="form-control textarea-input"></textarea>
                    @*<input asp-for="@Model.Booking.CustomerNote" class="control-label" />*@
                </div>
            </form>
        </div>
    </div>
</div>