@page "id:int"
@model PhotographyBusiness.Pages.BookingPages.GetAllBookingsModel
@{
}

<br />
<h1 style="font-family:fantasy;">Bookings</h1>
<br />

<div class="d-flex justify-content-around">
    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text btn-border-black bg-white" >Start Date</span>      @*btn-border-black til Start date eller grey ligesom i End Date*@
            </div>
            <input asp-for="StartDate" class="form-control me-2" />
            <div class="input-group-prepend">
                <span class="input-group-text">End Date</span>
            </div>
            <input asp-for="EndDate" class="form-control me-2" />
            <input type="submit" asp-page-handler="DateFilter" value="Filter" class="btn btn-border-black" />
        </div>
        <div class="btn btn-border-black">

            <a class="text-dark" asp-page="/BookingPages/GetAllBookings" style="text-decoration: none;">
                RESET FILTERS
            </a>
           
        </div>

        
    </form>

    <div class="col-4 w-25">
        <form method="post" class="form-inline">
            <div class="input-group mb-2">
                <input asp-for="NameInput" class="form-control me-1" placeholder="Filter by Name, Last name or Email " />
                <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-border-black" />
            </div>
        </form>

        <form method="post" class="form-inline">
            <div class="input-group mb-2">
                <input asp-for="CategoryInput" class="form-control me-1" placeholder="Filter by Category " />
                <input type="submit" asp-page-handler="CategoryFilter" value="Filter &nbsp" class="btn btn-border-black" />
            </div>
        </form>

    </div>
</div>

<br />

<div>
    <table class="table table-bordered table-hover table-striped" width="60%" style="border:1px solid black;">
        <thead>
            <tr class="table-light">
                <th>Name 
                    <a data-toggle="tooltip" title="Sort By Name" asp-page-handler="SortBookingByName"><i class="text-dark fa fa-light fa-arrow-down-a-z"></i></a>
                    </th>

                <th>Email
                    <a data-toggle="tooltip" title="Sort By Email" asp-page-handler="SortBookingByEmail"><i class="text-dark fa fa-light fa-arrow-down-a-z"></i></a>
                </th>
                <th>
                    Category 
                    <a data-toggle="tooltip" title="Sort By Category" asp-page-handler="SortBookingByCategory"><i class="text-dark fa fa-light fa-arrow-down-a-z"></i></a>
                </th>
                
                <th>Date
                    <a data-toggle="tooltip" title="Sort By Date" asp-page-handler="SortBookingByDate"><i class="text-dark fa fa-light fa-arrow-down-a-z"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.bookings != null)
            {
                foreach (var booking in Model.bookings)
                {
                    <tr class="table-light">
                        <td>

                            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">@booking.User.Name</button>
                            @*<a asp-page="/BookingPages/BookingInfoPage" asp-route-id="@booking.User.UserId">@booking.User.Name</a>*@
                        </td>
                        <td>
                            @booking.User.Email
                        </td>

                        <td>
                            @booking.Category
                        </td>   
                        <td>
                            @booking.Date
                        </td>
                       
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- kunde information -->
                            <div>Admin</div>


                        </div>
                        <div class="col-md-4">
                            <!-- admin information -->
                            <div>Customer</div>
                            <div>
                                <table class="table table-bordered table-hover table-striped" width="60%" style="border:1px solid black;">
                                    <thead>
                                        <tr class="table-light">
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Category</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (@Model.bookings != null)
                                        {
                                            foreach (var booking in Model.bookings)
                                            {
                                                <tr class="table-light">
                                                    <td>
                                                        @booking.User.Name
                                                    </td>
                                                    <td>
                                                        @booking.User.Email
                                                    </td>

                                                    <td>
                                                        @booking.Category
                                                    </td>
                                                    <td>
                                                        @booking.Date
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                            


                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button asp-page="#" type="button" class="btn btn-light" data-bs-dismiss="modal">Edit</button>
                <button  asp-page="#" type="button" class="btn btn-danger">Delete</button>
                <button asp-page="#" type="button" class="btn btn-border-black">Save</button>
            </div>
        </div>
    </div>
</div>










@section scripts{
    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>

}

