@page
@model PhotographyBusiness.Pages.BookingPages.MyBookingPageModel
@{
}

<div class="container">
    <br />
    <h1 class="pop-out mt-3 me-2" style="font-family:fantasy; float:left;">Bookings</h1>
    <br />
    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width:30%;">
    <br>
    <table class="table table-bordered table-hover table-striped" width="60%" style="border:1px solid black; word-wrap: break-word;">
        <thead>
            <tr class="table-light">
                <th>Name</th>
                <th>Eamil</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (@Model.Bookings != null)
            {
                foreach (var booking in Model.Bookings)
                {
                    <tr class="table-light">
                        <td>
                            @*<a asp-page="/BookingPages/BookingInfoPage" asp-route-id="@booking.User.UserId">@booking.User.Name</a>*@

                            <!-- Button trigger modal -->
                            <button type="button" class="btn  pop-out" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    data-user-name="@booking.User.Name"
                                    data-user-email="@booking.User.Email"
                                    data-user-address="@booking.Address"
                                    data-user-note="@booking.CustomerNote"
                                    data-user-category="@booking.Category"
                                    data-user-date="@booking.Date"
                                    data-admin-note="@booking.AdminNote"
                                    data-admin-price="@booking.Price"
                            asp-route-id="@booking.User.UserId">
                                @booking.User.Name <i class="fas fa-info-circle fa-beat fa-xs"></i>
                            </button>
                        </td>
                        <td>
                            @booking.User.Email
                        </td>

                        <td>
                            @booking.Category
                        </td>
                        <td>
                            @booking.Date
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="">
                        <div class="" style="word-wrap:break-word;">
                            <!-- Customer information -->
                            <h5>Customer</h5>
                            <p>Name: <span id="userName" style="font-style:italic;"></span></p>
                            <p>Email: <span id="userEmail" style="font-style:italic;"></span></p>
                            <p>Address: <span id="userAddress" style="font-style:italic;"></span></p>
                            <p>Note: <span id="userNote" style="font-style:italic;"></span></p>
                            <p>Category: <span id="userCategory" style="font-style:italic;"></span></p>
                            <p>Events date: <span id="userDateOfEvent" style="font-style:italic;"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        //User info.
        var myModal = document.getElementById("exampleModal")
        var userNameElement = document.getElementById("userName")
        var userEmailElement = document.getElementById("userEmail")
        var userAddressElement = document.getElementById("userAddress")
        var userNoteElement = document.getElementById("userNote")
        var userCategoryElement = document.getElementById("userCategory")
        var userDateOfEventElement = document.getElementById("userDateOfEvent")

        //admin info.
        var adminNoteElement = document.getElementById("adminNote")
        var priceElement = document.getElementById("price")


        // Button that triggered the modal
        myModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            // Extract info from data-* attributes
            //User
            var userName = button.getAttribute('data-user-name')
            var userEmail = button.getAttribute('data-user-email')
            var userAddress = button.getAttribute('data-user-address')
            var userNote = button.getAttribute('data-user-note')
            var userCategory = button.getAttribute('data-user-category')
            var userDateOfEvent = button.getAttribute('data-user-date')
            //Admin
            var adminNote = button.getAttribute('data-admin-note')
            var price = button.getAttribute("data-admin-price")

            // Display user info. in modal
            userNameElement.textContent = userName
            userEmailElement.textContent = userEmail
            userAddressElement.textContent = userAddress
            userNoteElement.textContent = userNote
            userCategoryElement.textContent = userCategory
            userDateOfEventElement.textContent = userDateOfEvent

            //Display admin info. in modal
            adminNoteElement.textContent = adminNote
            priceElement.textContent = price
        })

        //Filtering
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
}

