@page
@model PhotographyBusiness.Pages.BookingPages.MyBookingPageModel
@{
}


<div class="container">
    @if (TempData["OrderConfirmation"] != null)
    {
        <div class="alert alert-success mt-3">
            @TempData["OrderConfirmation"]
        </div>
    }
    <br />
    <h1 class="pop-out mt-3 me-3" style="font-family:fantasy; float:left;">Bookings</h1>
    <br />
    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width:30%;">
    <br>
    <table class="table table-bordered table-hover table-striped" width="60%" style="border:1px solid black; word-wrap: break-word;">
        <thead>
            <tr class="table-light">
                <th>Name</th>
                <th>Email</th>
                <th>Category</th>
                <th>Date</th>
                <th>Status</th>
                <th>Invoice</th>
                <th>Album / Create Order</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (@Model.Bookings != null)
            {
                foreach (var booking in Model.Bookings)
                {
                    <tr class="table-light">
                        <td>
                            @*<a asp-page="/BookingPages/BookingInfoPage" asp-route-id="@booking.User.UserId">@booking.User.Name</a>*@


                            <!-- Button trigger modal -->
                            <button type="button" class="btn  pop-out" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    data-user-name="@booking.User.Name"
                                    data-user-email="@booking.User.Email"
                                    data-user-address="@booking.Address"
                                    data-user-note="@booking.CustomerNote"
                                    data-user-category="@booking.Category"
                                    data-user-date="@booking.Date"
                                    data-admin-note="@booking.AdminNote"
                                    data-admin-price="@booking.Price"
                            asp-route-id="@booking.User.UserId">
                                @booking.User.Name <i class="fas fa-info-circle fa-beat fa-xs"></i>
                            </button>
                        </td>
                        <td>
                            @booking.User.Email
                        </td>

                        <td>
                            @booking.Category
                        </td>
                        <td>
                            @booking.Date
                        </td>
                        <td style="text-align:center; width:10%;">
                            @if(booking.IsAccepted is true)
                            {
                                <i class="fas fa-check-circle fa-lg" style="color: #25c137;"></i>
                            }
                            else
                            {
                                <i class="fas fa-times-circle fa-lg" style="color: #b92222;"></i>

                            }
                        </td>
                        <td>
                            <a asp-page="/BookingPages/InvoicePage" asp-route-id="@booking.UserId" asp-route-id2="@booking.BookingId">
                                <i class="far fa-file-pdf pop-out" style="color: #2a2b2d;"></i>
                            </a>
                        </td> 
                        <td>
                            <a asp-page="/AlbumPages/MyAlbumPage"  asp-route-id2="@booking.BookingId">
                                <i class="far fa-images fa-lg pop-out" style="color: #3f4040;"></i>
                            </a>
                        </td>
                     
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-ls">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="">
                        <div class="" style="word-wrap:break-word;">
                            <!-- Booking information -->
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h5 class="modal-title">Booking Information</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="ms-1 justify-content-center">
                                        <p><strong>Name: </strong> <span id="userName" class="input-group-text" style="font-style:italic;"></span></p>
                                    </div>
                                    <div class="ms-1 justify-content-center">
                                        <p><strong>Email: </strong><span id="userEmail" class="input-group-text" style="font-style:italic;"></span></p>
                                    </div>
                                    <div class="ms-1 justify-content-center">
                                        <p><strong>Address: </strong><span id="userAddress" class="input-group-text" style="font-style:italic;"></span></p>
                                    </div>
                                    <div class="ms-1 justify-content-center">
                                        <p><strong>Note: </strong><span id="userNote" class="input-group-text" style="font-style:italic;"></span></p>
                                    </div>
                                    <p><strong>Category: </strong><span id="userCategory" class="input-group-text" style="font-style:italic;"></span></p>
                                    <div class="ms-1 justify-content-center">
                                        <p><strong>Events date: </strong><span id="userDateOfEvent" class="input-group-text" style="font-style:italic;"></span></p>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<hr class="mt-5 mb-5"/>

@section scripts{
    <script>
        //User info.
        var myModal = document.getElementById("exampleModal")
        var userNameElement = document.getElementById("userName")
        var userEmailElement = document.getElementById("userEmail")
        var userAddressElement = document.getElementById("userAddress")
        var userNoteElement = document.getElementById("userNote")
        var userCategoryElement = document.getElementById("userCategory")
        var userDateOfEventElement = document.getElementById("userDateOfEvent")

        //admin info.
        var adminNoteElement = document.getElementById("adminNote")
        var priceElement = document.getElementById("price")


        // Button that triggered the modal
        myModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            // Extract info from data-* attributes
            //User
            var userName = button.getAttribute('data-user-name')
            var userEmail = button.getAttribute('data-user-email')
            var userAddress = button.getAttribute('data-user-address')
            var userNote = button.getAttribute('data-user-note')
            var userCategory = button.getAttribute('data-user-category')
            var userDateOfEvent = button.getAttribute('data-user-date')
            //Admin
            var adminNote = button.getAttribute('data-admin-note')
            var price = button.getAttribute("data-admin-price")

            // Display user info. in modal
            userNameElement.textContent = userName
            userEmailElement.textContent = userEmail
            userAddressElement.textContent = userAddress
            userNoteElement.textContent = userNote
            userCategoryElement.textContent = userCategory
            userDateOfEventElement.textContent = userDateOfEvent

            //Display admin info. in modal
            adminNoteElement.textContent = adminNote
            priceElement.textContent = price
        })

        //Filtering
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
}

