@page
@model PhotographyBusiness.Pages.BookingPages.UpdateBookingModel
@{
}

<link rel="stylesheet" href="/css/styles.css" />

<div class="transparent-black">
    <h1 class="text-white">Update booking</h1>
    <div class="d-flex justify-content-center" style="">
        <div class="d-flex flex-column m-4" style="min-width:30vw">
            <form method="post" class="p-4" style="background-color: rgba(0,0,0,0.7)">
                <div class="form-group p-2">
                    <label asp-for="@Model.Booking.BookingId" class="control-label text-white">Id</label>
                    <input asp-for="@Model.Booking.BookingId" class="form-control" readonly />
                </div>
                <div>
                    <label asp-for="@Model.Booking.User.Name" class="control-label text-white">Customer name</label>
                    <input asp-for="@Model.Booking.User.Name" class="form-control" readonly />
                </div>
                <div>
                    <label asp-for="@Model.Booking.User.Email" class="control-label text-white">Customer email</label>
                    <input asp-for="@Model.Booking.User.Email" class="form-control" readonly />
                </div>
                <div>
                    <label asp-for="@Model.Booking.User.UserId" class="control-label text-white" hidden></label>
                    <input asp-for="@Model.Booking.User.UserId" class="form-control" hidden readonly />
                </div>
                <div>
                    <label asp-for="@Model.Booking.User.Password" class="control-label text-white" hidden></label>
                    <input asp-for="@Model.Booking.User.Password" class="form-control" hidden readonly />
                </div>
                <div>
                    <label asp-for="@Model.Booking.Category" class="control-label text-white">Category</label>
                    <input asp-for="@Model.Booking.Category" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.Booking.Price" class="control-label text-white">Price</label>
                    <input asp-for="@Model.Booking.Price" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.Booking.AdminNote" class="control-label text-white">Admin</label>
                    <input asp-for="@Model.Booking.AdminNote" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.Booking.Date" class="control-label text-white">Date</label>
                    <input asp-for="@Model.Booking.Date" class="form-control" />
                </div>
                <div>
                    <label asp-for="@Model.Booking.Address" class="control-label text-white">Address</label>
                    <input asp-for="@Model.Booking.Address" class="form-control" />
                </div>
              

                <div class="form-group m-2 d-flex justify-content-between">
                    <a asp-page="/BookingPages/GetAllBookings" class="btn btn-dark btn-border-white" style="border-radius: 0; min-width: 6vw;">Go back</a>
                    <input type="submit" value="Update" class="btn btn-light" style="min-width: 6vw; border-radius: 0;" />
                </div>
            </form>
        </div>
    </div>
</div>