@page
@model PhotographyBusiness.Pages.PhotoPages.GallAllPhotosModel
@{
}


<div class="container">
    <h1 class="pop-out mt-3 me-2" style="font-family:fantasy; float:left;">Album</h1>
    <table class="table table-bordered table-hover table-striped" 
    width="60%" style="border:1px solid black; word-wrap: break-word;">
        <thead>
            <tr class="table-light">
                <th>Name</th>
                <th>Description</th>
                <th>Add Photo</th>
                <th>Shows Photo</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.Albums != null)
            {
                foreach(var alb in Model.Albums)
                {
                    <tr class="table-light">
                        <td>@alb.Name</td>
                        <td>@alb.Description</td>
                        <td>
                            <a asp-page="/PhotoPages/AddPhotoToAlbum" asp-route-albumid="@alb.Id">Add</a>
                        </td>
                        <td>
                            <a asp-page="/PhotoPages/GetPhotos" asp-route-albumid="@alb.Id"
                               asp-route-bookingid="@alb.BookingId">Show</a>
                        </td>
                    </tr>
                }           
            }
            else
            {
                <tr>
                    No table found
                </tr>
            }
        </tbody>
    </table>
    <div class ="btn btn-light btn-border-black mb-5 " style="min-width: 6vw;">
        <a style="font-family:fantasy; float:left; text-decoration:none; color:black;"
           asp-page="/BookingPages/GetAllBookings">Create new Album</a>
    </div>
</div>