@page "{id2:int}"
@model PhotographyBusiness.Pages.AlbumPages.MyAlbumPageModel
@{
}
<script src="https://kit.fontawesome.com/5d5c0091b5.js" crossorigin="anonymous"></script>

<div class="container">
    <h1 class="pop-out mt-3 me-2" style="font-family:fantasy; float:left;">Album</h1>
    <table class="table table-bordered table-hover table-striped"
           width="60%" style="border:1px solid black; word-wrap: break-word;">
        <thead>
            <tr class="table-light">
                <th>Name</th>
                <th>Description</th>
                <th>Shows Photo</th>
                <th>
                    Create an order
                </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model.Albums != null)
            {
                foreach (var alb in Model.Albums)
                {
                    <tr class="table-light">
                        <td>@alb.Name</td>
                        <td>@alb.Description</td>
                        <td>
                            <a asp-page="/PhotoPages/GetPhotos" asp-route-albumid="@alb.Id"
                               asp-route-bookingid="@alb.BookingId">
                                <i class="far fa-eye fa-lg pop-out" style="color: #414448;"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-page="/OrderPages/CreateOrder" asp-route-bookingid="@alb.BookingId"  asp-route-albumid="@alb.Id">
                                <i class="fas fa-shopping-cart fa-lg" style="color:#3e4147; "></i>

                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    No table found
                </tr>
            }
        </tbody>
    </table>
</div>